@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf) format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf) format('ttf');
  font-style: normal;
  font-weight: 400;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }